<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
  <h2>ユーザー</h2>
  <br>
  <table class="table">
     <tr>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
    <div class="item">
      <td><%= profile_img(user) %></td>
      <td><%= link_to user.name, user %></td>
    <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-primary btn-block'%></td>
    <td><%= render partial: 'follow_form', locals: { user: user } if signed_in?   %></td>
  <% end %>
<% end %>
  </table>
    </div>
  </div>
</div>
