<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-1">
      <div class='row'>
  <h2>ユーザー</h2>
  <table class="table">
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <tr><td><%= profile_img(user) %></td> <td><%= link_to user.name, user %></td>
    <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-primary btn-block'%></td>
    <td><%= render partial: 'follow_form', locals: { user: user } if signed_in?   %></td></tr>
  <% end %>
<% end %>
  </table>
    </div>
  </div>
</div>
